/* Reset some default styling */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Basic styling for the entire app */
#app {
  max-width: 600px;
  margin: 20px auto;
  font-family: 'Arial', sans-serif;
}

/* Styling for the task form */
.task-form {
  margin-bottom: 20px;
}

.task-form label {
  display: block;
  margin-bottom: 5px;
}

.task-form input,
.task-form textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.task-form select {
  width: 100%;
  display: block;
  padding: 8px;
  margin-bottom: 10px;
}

.task-form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.task-list {
  width: 100%;
  list-style-type: none;
}

.task-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  position: relative;
}

.task-item h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.task-item p {
  margin-bottom: 10px;
}

.task-item .status {
  font-weight: bold;
}

/* Styling for the container of edit and delete buttons inside task item */
.buttons-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Styling for edit and delete buttons inside task item */
.edit-btn,
.delete-btn,
.done-btn {
  background-color: #007bff;
  color: #fff;
  padding: 4px 10px;
  cursor: pointer;
  border: none;
  margin-bottom: 4px;
  width: 100%;
  /* Set the same width for both buttons */
}

.delete-btn {
  background-color: #dc3545;
}

.done-btn {
  background-color: #4caf50;
}